@using Models;
@model Models.Producto;

@{
    ViewData["Title"] = "Modificar";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar productos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
    <main>
        <h2>Editar producto</h2>
        <section>
            <form asp-controller="Productos" asp-action="ModificarProducto" method="post" class="w-50 mx-auto">
                <div class="mb-3">
                    <input type="hidden" asp-for="IdProducto">
                </div>
                <div class="mb-3">
                    <label for="Descripcion" class="form-label">Descripción</label>
                    <input asp-for="Descripcion" type="text" class="form-control" id="Descripcion" required>
                </div>
                <div class="mb-3">
                    <label for="Precio" class="form-label">Precio</label>
                    <input asp-for="Precio" type="number" class="form-control" id="Precio" step="0.01" required>
                </div>
                <button type="submit" class="btn btn-primary">Aplicar</button>
            </form>
        </section>
    </main>
</body>
</html>